{% extends 'main.html' %}

{% block content %}
  <div class="content-wrapper py-5 d-md-flex gap-1 justify-content-start">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 px-5">
      {% for card in cards %}
      <div class="col">
        <div class="card translation-card" style="height: 500px;">
          <img src="{{ card.image.url }}" class="card-img-top" alt="..." style="height: 250px;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'translation-single' card.id %}">{{card.name}}</a></h5>
            <p class="card-text">{{ card.translate_request|slice:":250"}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}