$primary: #482673;
$warning: #345435;

@import '../bootstrap/scss/functions.scss';
@import '../bootstrap/scss/variables.scss';

h1 {
    font-size: 100px !important;
}

@import '../bootstrap/scss/bootstrap.scss';