
@import '../bootstrap/scss/functions.scss';
@import '../bootstrap/scss/variables.scss';

.content-wrapper {
    min-height: 80vh;
}

.translation-card {
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .translation-card {
        display: block;
        margin: 10px auto;
    }
}

@import '../bootstrap/scss/bootstrap.scss';